{% extends 'base.html' %}

{% block content %}
<style>
    .form-control {
        width: 65% !important;
    }
    .django-ckeditor-widget {
        width: 65% !important;
    }
</style>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label class="form-label">{{ field.label }}</label>
            <div>{{ form.media }}</div>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock content %}