{% extends 'base.html' %}


{% block content %}

<!--Reset Password-->
<div class="d-flex justify-content-center">
    <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
            <h5 class="card-title">RESET PASSWORD</h5>
            <p class="card-text">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
            <form method="POST">
                {% csrf_token %}
                {% for field in password_reset_form %}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Send email</button>
            </form>
        </div>
        <div class="card-footer text-muted"></div>
    </div>
</div>

{% endblock %}